name: PyPI

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
      - name: Build package
        run: python -m build
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
        with:
          user: __token__
          password: ${{ secrets.SECRET_PYPI }}
      - name: Create Github release
        env:
          GITHUB_TOKEN: ${{ secrets.CLI_GH_TOKEN }}
        run: |
          VERSION=$(python setup.py --version)
          gh release create v$VERSION --title $VERSION --generate-notes
