name: PyPI

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
      - name: Build package
        run: python -m build
      - name: Publish to PyPI
        id: publishpypi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.SECRET_PYPI }}
      - name: Create Github release
        if: steps.publishpypi.outcome == 'success'
        env:
          GITHUB_TOKEN: ${{ secrets.CLI_GH_TOKEN }}
        run: |
          VERSION=$(python setup.py --version)
          gh release create v$VERSION --title $VERSION --generate-notes
